@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
*{
   margin: 0;
   padding: 0;
}
html, body {
    
    background-position: center center;
    background-size: 100% 100%;
    background-image: linear-gradient(180deg, rgba(60, 203, 196, 0.6), rgba(209, 196, 200, 0.5), rgba(180, 180, 234, 0.5)), url(images/bluebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 0;
    overflow: hidden;
}

header {
  
  background-color: rgba(55, 131, 155, 0.4);
  backdrop-filter: saturate(180%) blur(5px);
  text-align: center;
  height: 62px;
  min-width: 100%;
  box-shadow: 2.5px 3.5px 5px rgba(0, 0, 0, .6)
  
 
}
footer {
    width: 100%;
    position: fixed;
    display: flex-end;
    text-align: center;
    top: 90%;
    bottom: 0px;
    font-family: "Goldman";
    padding: 10px;
    background-color: rgba(55, 131, 155, 0.4);
    backdrop-filter: saturate(180%) blur(5px);
    z-index: 100;
    box-shadow: 2.5px 3.5px 5px rgba(0, 0, 0, .6)
    
}


main {
  display: grid;
  grid-template-columns: repeat(5, 225px);
  grid-template-rows: repeat(5, 500px);
  margin-top: 50px;
  margin-bottom: 0px;
  justify-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}


iframe {
  grid-column: span 3 / 5;
  grid-row: span 0 / 1 ;
  border-radius: 20px;
  filter: brightness(0.4);
  
}
iframe:hover {
     color: #333333;
     filter: brightness(1);
     text-shadow: 0 0 5px cyan,
                  0 0 10px cyan,
		  0 0 20px blue,
		  0 0 40px cyan,
                  0 0 60px blue, 		
		  0 0 80px cyan;

}
#iframe2 {
   grid-column: 4;
}
.text { 
   grid-row: 1;
   grid-column: span 1 / 3;
   background-color: rgba(55, 131, 155, 0.4);
   backdrop-filter: saturate(180%) blur(5px);
   border-radius: 10px;
   Text-align: center;

}
.text h2 {
   font-family: "Goldman";
   color: #FFFFFF;
}
.text h3 {
   font-family: "Goldman";
   text-align: left;
   color: #FFFFFF;
   padding: 10px;
}

h1 {
  font-family: "Agdasima";
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: #FFFFFF;
  padding: 0px 0px 0px 10px;
  letter-spacing: 10px;
  cursor: pointer;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: grey;
  z-index: 1;
}
h1:hover {
     color: #black;
     text-shadow: 40px 0 5px cyan,
                  0 0 10px cyan,
		  0 20px 20px blue,
		  0 0 40px teal,
                  0 0 60px cyan, 		
		  0 20px 80px blue;
     transition: .2s;
}
/*NAV BAR*/
nav {
    width: 91px;
    position: fixed;
    display: flex-start;
    top: 60px;
    bottom: 100px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 2.5px 3.5px 5px rgba(0, 0, 0, .4)
    
        
}
nav:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    z-index: 10;
}
nav ul {
    width: 91px;
    position: relative;
    list-style-type: none;
    z-index: 2;
    
}
nav ul:hover {
    width: 91px; 
    background-color: rgba(55, 131, 155, 0.5);
    backdrop-filter: saturate(180%) blur(10px);
    color: #80cbc4;
    border-radius: 10px;
    z-index: 20;
}    

nav ul li a {
    display: flex;
    align-items: center;
    font-family: "Goldman";
    font-size: 1em;
    font-weight: 200px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 2.5px 7.5px;
    height: 50px;
    transition: .5s ease;
    border-radius: 0 15px;
    
}
nav ul li a:hover {
    width: 91px;  
    background-color: rgba(55, 131, 155, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    color: #fff;
    
}
nav ul ul {
    position: absolute;
    left: 91px;
    width: 91px;
    top: 0;
    display: none;
    background-color: rgba(55, 131, 155, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 2.5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    
}
nav ul span {
    position: absolute;
    right: 1px;
    font-size: 1.5em;
    
}
nav ul .dropdown {
    width: 91px;
    position: relative;
    z-index: 3;
        
}
nav ul .dropdown:hover > ul {
    display: initial;
}
nav ul .dropdown_two ul {
    width: 91px;
    display: absolute;
    left: 92px;
    top: 0;
    
}
nav ul .dropdown_two:hover ul {
    display: initial;
}
nav ul .split ul {
    top: 60px;
    
}
nav ul .dropdown_three ul {
    width: 91px;
    display: absolute;
    left: 91px;
    top: 50px;
    
}

nav ul .dropdown_three:hover ul {
    display: initial;
}
/*Nav*/

.container {
  min-width: 500px;
  height: 1000px;
  margin: 0;
  
}

/*IMAGE EFFECT SLIDER*/
.item{
    grid-row: span 1 / 3;
    transform-style: preserve-3d;
    transform:  perspective(1000px); 
    
}

.item img{
 border-radius: 10px;
 height: 150px;
 width: 150px;
}
.item{
    transition: .2s;
    filter: brightness(0.5);
}
.item:hover{
    filter: brightness(1);
    transform: translateZ(50px);
}
.item:hover + *{
    filter: brightness(0.1);
    transform: translateZ(50px) rotateY(10deg);
}
.item:hover + * + *{
    filter: brightness(0.1);
    transform: translateZ(50px) rotateY(20deg);
}
.item:hover + * + * + *{
    filter: brightness(0.1);
    transform: translateZ(30px) rotateY(10deg);
}
.item:has(+ *:hover){
    filter: brightness(0.1);
    transform: translateZ(40px) rotateY(20deg);
}
.item:has(+ * + *:hover){
    filter: brightness(0.1);
    transform: translateZ(50px) rotateY(25deg);
}
.item:has(+ * + * + *:hover){
    filter: brightness(0.1);
    transform: translateZ(30px) rotateY(10deg);
}


.form { 
   grid-row: 1;
   grid-column: span 3 / 5;
   background-color: rgba(55, 131, 155, 0.4);
   backdrop-filter: saturate(180%) blur(5px);
   border-radius: 10px;
   Text-align: center;

}
.form h2 {
   font-family: "Goldman";
   color: #FFFFFF;
}
.form h3 {
   font-family: "Goldman";
   text-align: center;
   color: #FFFFFF;
   padding: 10px;
}

input.primary {
   color: blue;
}
/*Small Screen*--------------------------------------------------------------------------------------------*/
@media (max-width: 475px) {
   *{
   margin: 0;
   padding: 0;
}
html, body {
    
    background-position: center center;
    background-size: 100% 100%;
    background-image: linear-gradient(180deg, rgba(60, 203, 196, 0.6), rgba(209, 196, 200, 0.5), rgba(180, 180, 234, 0.5)), url(images/bluebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 0;
    overflow: hidden;
}

header {
  
  background-color: rgba(55, 131, 155, 0.4);
  backdrop-filter: saturate(180%) blur(5px);
  text-align: center;
  height: 62px;
  min-width: 100%;
  box-shadow: 2.5px 3.5px 5px rgba(0, 0, 0, .6)
  
 
}
footer {
    width: 100%;
    position: fixed;
    display: flex-end;
    text-align: center;
    top: 90%;
    bottom: 0px;
    font-family: "Goldman";
    padding: 10px;
    background-color: rgba(55, 131, 155, 0.4);
    backdrop-filter: saturate(180%) blur(5px);
    z-index: 100;
    box-shadow: 2.5px 3.5px 5px rgba(0, 0, 0, .6)
    
}


main {
  display: grid;
  grid-template-columns: repeat(5, 65px);
  grid-template-rows: repeat(5, 200px);
  margin-top: 100px;
  margin-bottom: 0px;
  justify-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}


iframe {
  
  grid-column: span 3 / 5;
  grid-row: 0 / 1 ;
  border-radius: 20px;
  filter: brightness(0.4);
  
}
iframe:hover {
     color: #333333;
     filter: brightness(1);
     text-shadow: 0 0 5px cyan,
                  0 0 10px cyan,
		  0 0 20px blue,
		  0 0 40px cyan,
                  0 0 60px blue, 		
		  0 0 80px cyan;

}
#iframe2 {
   grid-column: 2 / 4;
   grid-row: 1;
}
.text { 
   grid-row:  2;
   grid-column: 1 / 5;
   background-color: rgba(55, 131, 155, 0.4);
   backdrop-filter: saturate(180%) blur(5px);
   border-radius: 10px;
   Text-align: center;

}
.text h2 {
   font-family: "Goldman";
   font-size: 80%;
   color: #FFFFFF;
}
.text h3 {
   font-family: "Goldman";
   font-size: 60%;
   text-align: left;
   color: #FFFFFF;
   padding: 10px;
}

h1 {
  font-family: "Agdasima";
  font-size: 40px;
  font-weight: 800;
  text-align: left;
  color: #FFFFFF;
  padding: 0px 0px 0px 10px;
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: grey;
  z-index: 1;
}
h1:hover {
     color: #black;
     text-shadow: 40px 0 5px cyan,
                  0 0 10px cyan,
		  0 20px 20px blue,
		  0 0 40px teal,
                  0 0 60px cyan, 		
		  0 20px 80px blue;
     transition: .2s;
}
/*NAV BAR*/
nav {
    width: 91px;
    position: fixed;
    display: flex-start;
    top: 60px;
    bottom: 100px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 2.5px 3.5px 5px rgba(0, 0, 0, .4)
    
        
}
nav:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    z-index: 10;
}
nav ul {
    width: 91px;
    position: relative;
    list-style-type: none;
    z-index: 2;
    
}
nav ul:hover {
    width: 91px; 
    background-color: rgba(55, 131, 155, 0.5);
    backdrop-filter: saturate(180%) blur(10px);
    color: #80cbc4;
    border-radius: 10px;
    z-index: 20;
}    

nav ul li a {
    display: flex;
    align-items: center;
    font-family: "Goldman";
    font-size: 1em;
    font-weight: 200px;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 2.5px 7.5px;
    height: 50px;
    transition: .5s ease;
    border-radius: 0 15px;
    
}
nav ul li a:hover {
    width: 91px;  
    background-color: rgba(55, 131, 155, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    color: #fff;
    
}
nav ul ul {
    position: absolute;
    left: 91px;
    width: 91px;
    top: 0;
    display: none;
    background-color: rgba(55, 131, 155, 0.7);
    backdrop-filter: saturate(180%) blur(10px);
    border-radius: 2.5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    
}
nav ul span {
    position: absolute;
    right: 1px;
    font-size: 1.5em;
    
}
nav ul .dropdown {
    width: 91px;
    position: relative;
    z-index: 3;
        
}
nav ul .dropdown:hover > ul {
    display: initial;
}
nav ul .dropdown_two ul {
    width: 91px;
    display: absolute;
    left: 92px;
    top: 0;
    
}
nav ul .dropdown_two:hover ul {
    display: initial;
}
nav ul .split ul {
    top: 60px;
    
}
nav ul .dropdown_three ul {
    width: 91px;
    display: absolute;
    left: 91px;
    top: 50px;
    
}

nav ul .dropdown_three:hover ul {
    display: initial;
}
/*Nav*/

.container {
  min-width: 500px;
  height: 1000px;
  margin: 0;
  
}

/*IMAGE EFFECT SLIDER*/
.item{
    grid-row: 2;   
    transform-style: preserve-3d;
    transform:  perspective(1000px); 
    
}

.item img{
 border-radius: 10px;
 height: 50px;
 width: 50px;
}
.item{
    transition: .2s;
    filter: brightness(0.5);
}
.item:hover{
    filter: brightness(1);
    transform: translateZ(50px);
}
.item:hover + *{
    filter: brightness(0.1);
    transform: translateZ(50px) rotateY(10deg);
}
.item:hover + * + *{
    filter: brightness(0.1);
    transform: translateZ(50px) rotateY(20deg);
}
.item:hover + * + * + *{
    filter: brightness(0.1);
    transform: translateZ(30px) rotateY(10deg);
}
.item:has(+ *:hover){
    filter: brightness(0.1);
    transform: translateZ(40px) rotateY(20deg);
}
.item:has(+ * + *:hover){
    filter: brightness(0.1);
    transform: translateZ(50px) rotateY(25deg);
}
.item:has(+ * + * + *:hover){
    filter: brightness(0.1);
    transform: translateZ(30px) rotateY(10deg);
}


.form { 
   grid-row: 1;
   grid-column: span 3 / 5;
   background-color: rgba(55, 131, 155, 0.4);
   backdrop-filter: saturate(180%) blur(5px);
   border-radius: 10px;
   Text-align: center;

}
.form h2 {
   font-family: "Goldman";
   color: #FFFFFF;
}
.form h3 {
   font-family: "Goldman";
   text-align: center;
   color: #FFFFFF;
   padding: 10px;
}

input.primary {
   color: blue;
}
  
}
/*Landscape phone-------------------------------------------------------------------------------------------------*/ 

